<button type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#editRow" aria-controls="editRow" id="{{uid}}"><i data-feather="edit" aria-label="Edit"></i></button>
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteVerify" id="{{uid}}_{{fname}}_{{lname}}"><i data-feather="trash-2" aria-label="Delete"></i></button>