<button type="button" class="btn btn-primary" id={{uid}}><i data-feather="edit" aria-label="Edit"></i></button>
<button type="button" class="btn btn-danger" id={{uid}}><i data-feather="trash-2" aria-label="Delete"></i></button>