<footer class="footer position-absolute bottom-0 vw-100 text-center border-top">
    <div class="container-fluid">
        <p>A portfolio site made with Express.js, Bootstrap v5, and Handlebars.</p>
    </div>
</footer>