<div class="container-fluid">
    <nav class="mt-2" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/enchants">Enchantments</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add</li>
        </ol>
    </nav>
    <h1>Add an Enchantment</h1>
    <form id="addEnch" class="container-sm needs-validation">
        <div class="row mb-3 justify-content-left">
            <div class="col-2">
                <input type="text" class="form-control" placeholder="Name" id="name" aria-label="Name" required aria-required="true">
            </div>
            <div class="col-2">
                <input type="text" class="form-control" placeholder="Aura Color" id="aura" aria-label="Aura color" required aria-required="true">
            </div>
        </div>
        <div class="row mb-3 justify-content-left">
            <div class="col-2">
                <input type="text" class="form-control" placeholder="Strength" id="strength" aria-label="Strength">
            </div>
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Effect" id="eff" aria-label="Effect">
            </div>
        </div>
        <div class="row justify-content-left">
            <div class="col-4">
                <button type="submit" id="submitEnchant" class="btn btn-primary">Add Enchantment</button>
            </div>
        </div>
    </form>
</div>