<div class="container-fluid">
    <nav class="mt-2" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/enchants">Enchantments</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add</li>
        </ol>
    </nav>
    <h1>Add an Enchantment</h1>
    <form id="addEnch" class="container-sm needs-validation">
        <div class="row mb-3 justify-content-left">
            <div class="col-2">
                <input type="text" class="form-control" placeholder="Name" id="name" aria-label="Name" required aria-required="true">
            </div>
            <div class="col-2">
                <input type="text" class="form-control" placeholder="Aura Color" id="aura" aria-label="Aura color" required aria-required="true">
            </div>
        </div>
        <div class="row mb-3 justify-content-left">
            <div class="col-2">
                <input type="text" class="form-control" placeholder="Strength" id="strength" aria-label="Strength">
            </div>
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Effect" id="eff" aria-label="Effect">
            </div>
        </div>
        <div class="row justify-content-left">
            <div class="col-4">
                <button type="submit" id="submitEnchant" class="btn btn-primary">Add Enchantment</button>
            </div>
        </div>
    </form>
</div>

<script>
    var formSubmit = document.getElementById('addEnch');

    formSubmit.addEventListener('submit', function(event) {

        event.preventDefault();

        let buttonSubmit = document.getElementById('submitEnchant');

        buttonSubmit.classList.replace('btn-primary', 'btn-secondary');
        buttonSubmit.innerHTML = '<span class=\'spinner-border spinner-border-sm\'></span>';
        buttonSubmit.innerText = 'Processing...';

        var req = new XMLHttpRequest();

        let ench = formSubmit.elements['name'].value;
        let aura = formSubmit.elements['aura'].value;
        let str = formSubmit.elements['strength'].value;
        let eff = formSubmit.elements['eff'].value;

        var request = {
            'enchant': ench, 
            'color': aura,
            'str': str, 
            'eff': eff
        };

        req.open('POST', '/api/enchant');
        req.setRequestHeader('Content-Type', 'application/json');
        req.send(JSON.stringify(request));

        req.addEventListener('load', function() {
            if (req.status == 201) {
                setTimeout(() => { window.location.href = "/enchants"; }, 2500);
                buttonSubmit.classList.replace('btn-secondary', 'btn-success');
                buttonSubmit.innerText = 'Added!';
            } else if (req.status == 400) {
                setTimeout(() => { window.location.href = "/enchants"; }, 2500);
                buttonSubmit.classList.replace('btn-primary', 'btn-danger');
                buttonSubmit.innerText = 'Error!';
                console.warn("Failed to Add!");
            } else {
                console.error("Unknown State!");
            }
        });
    });
</script>
