<div class="container-fluid">
    <h2>View Enchantments</h2>
    <div class="clearfix">
        <a role="button" class="btn btn-primary float-start" href="/enchant/add">Add Enchantment</a>
        <a role="button" class="btn btn-primary float-end" aria-label="Search"><i data-feather="search"></i>Search</a>
    </div>
    <div id="enchants" class="table-responsive mt-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Aura Color</th>
                    <th scope="col">Strength</th>
                    <th scope="col">Effect</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each rows}}
                    <tr>
                        <td>{{this.enchantName}}</td>
                        <td>{{this.auraColor}}</td>
                        <td>{{this.strength}}</td>
                        <td>{{this.effect}}</td>
                        <td>{{> buttonCluster uid=this.enchantId fname=this.enchantName lname=''}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="offcanvas offcanvas-top" tabindex="-1" id="editRow" aria-labelledby="editRowLabel">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title" id="editRowLabel">Edit Enchantment</h3>
        </div>
        <div class="offcanvas-body">
            <div id="editRowForm">
                <form id="addEnch" class="container-sm needs-validation">
                    <div class="row mb-3 justify-content-left">
                        <div class="col-2">
                            <input type="text" class="form-control" placeholder="Name" id="name" aria-label="Name" required aria-required="true">
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" placeholder="Aura Color" id="aura" aria-label="Aura color" required aria-required="true">
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-left">
                        <div class="col-2">
                            <input type="text" class="form-control" placeholder="Strength" id="strength" aria-label="Strength">
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="Effect" id="eff" aria-label="Effect">
                        </div>
                    </div>
                    <div class="row justify-content-left">
                        <div class="col-4">
                            <button type="submit" id="submitEnchant" class="btn btn-primary">Edit Enchantment</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="clearfix">
                <button type="button" class="btn btn-secondary float-end" data-bs-dismiss="offcanvas" data-bs-target="editRow" aria-label="Cancel">Cancel</a> 
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteVerify" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="equipCheck" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Are you sure?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="container-fluid">
                        <div id="delMessage"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var delModal = document.getElementById('deleteVerify');

    var delButton = delModal.getElementsByClassName("modal-footer")[0].children[0];

    delButton.addEventListener('click', function(e) {
        let uid = delButton.id;

        {{!-- var req = new XMLHttpRequest();

        req.open('DELETE', '/api/char?id=' + params[0]); --}}
        console.log("Click! " + uid);
    });

    delModal.addEventListener('show.bs.modal', function(event) {
        let params = event.relatedTarget.id.split('_');

        delButton.setAttribute('id', params[0]);

        var message = document.createElement('h3');
        message.innerText = 'You are about to delete ' + params[1] + ' from the database!';

        document.getElementById('delMessage').append(message);
    });

    delModal.addEventListener('hidden.bs.modal', function (event) {
        delButton.setAttribute('id', '');
        document.getElementById('delMessage').firstChild.remove();
    });

    var editOffcanvas = document.getElementById('editRow');

    editOffcanvas.addEventListener('show.bs.offcanvas', function(event) {
        let name = document.getElementById('name');
        let aura = document.getElementById('aura');
        let str = document.getElementById('strength');
        let eff = document.getElementById('eff');

        let row = event.relatedTarget.parentNode.parentNode;

        name.value = row.children[0].innerText;
        aura.value = row.children[1].innerText;
        str.value = row.children[2].innerText;
        eff.value = row.children[3].innerText;

    });
</script>