<div class="container-fluid">
    <h2>View Enchantments</h2>
    <div class="container-fluid">
        <a role="button" class="btn btn-primary" href="/enchant/add">Add Enchantment</a>
    </div>
    <div id="enchants" class="table-responsive mt-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Aura Color</th>
                    <th scope="col">Strength</th>
                    <th scope="col">Effect</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each rows}}
                    <tr>
                        <td>{{this.enchantName}}</td>
                        <td>{{this.auraColor}}</td>
                        <td>{{this.strength}}</td>
                        <td>{{this.effect}}</td>
                        <td>{{> buttonCluster uid=this.charaId}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>