<div class="container-fluid">
  <!-- Images found on www.pexels.com -->
  <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Image 1"></button>
      <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Image 2"></button>
      <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Image 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/pexels-gavin-seim-3259997.jpg" class="img-fluid d-block mx-auto" alt="Boy on Horse">
      </div>
      <div class="carousel-item">
        <img src="img/pexels-pixabay-161936.jpg" class="img-fluid d-block mx-auto" alt="Steel Armor and Sword">
      </div>
      <div class="carousel-item">
        <img src="img/pexels-rene-asmussen-2514316.jpg" class="img-fluid d-block mx-auto" alt="Live Action Role Play">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h1>A home for the Ages!</h1>
</div>