:root {
    /*
        Found at
        https://coolors.co/ffcdb2-ffb4a2-e5989b-b5838d-6d6875 
    */
    --apricot: #ffcdb2ff;
    --melon: #ffb4a2ff;
    --pastel-pink: #e5989bff;
    --english-lavender: #b5838dff;
    --old-lavender: #6d6875ff;
}

.navbar-dark {
    background-color: var(--english-lavender);
}

body {
    background-color: var(--old-lavender);
    color: var(--melon);
}

#editRow {
    background-color: var(--old-lavender);
}

.table {
    color: var(--melon);
}

.modal-content {
    background-color: var(--old-lavender);
}

footer {
    background-color: var(--pastel-pink);
}

footer > div > p {
    color: var(--old-lavender);
}

.img-fluid {
    max-height: 500px;
}

.breadcrumb-item a {
    color: var(--apricot);
}

.breadcrumb-item + .breadcrumb-item::before {
    /* START BLOCK: 
       The following is provided by Google, Inc., under Apache License Version 2.0. 
    */
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

    /* END BLOCK */

    content: "chevron_right";
    color: var(--apricot);
}

.breadcrumb-item.active {
    color: var(--melon);
}
