:root {
    /*
        Found at
        https://coolors.co/ffcdb2-ffb4a2-e5989b-b5838d-6d6875 
    */
    --apricot: #ffcdb2ff;
    --melon: #ffb4a2ff;
    --pastel-pink: #e5989bff;
    --english-lavender: #b5838dff;
    --old-lavender: #6d6875ff;
}

.navbar-dark {
    background-color: var(--english-lavender);
}

body {
    background-color: var(--old-lavender);
    color: var(--melon);
}

.table {
    color: var(--melon);
}

.modal-content {
    background-color: var(--old-lavender);
}

.footer {
    background-color: var(--pastel-pink);
}

footer > div > p {
    color: var(--old-lavender);
}

.carousel-inner img {
    max-height: 600px;
}
